
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: monospace;
    background-color: #446418;
    color: #c6e686;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    max-width: 800px;
    margin: auto;
    margin-bottom: 75px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

.main-page {
    background-color: #0b2c0b;
    width: 1000px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #7d9b5d;
    position: relative;
    color:  #0b2c0b;
}

header img {
   margin-top: 35px;
}

.info {
    float: right;
    margin: 15px;
    text-align: left;
}

.quest {
    font-size: 2rem;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}


p {
    margin: var(--gutter);
}
  
